.background-container {
  background-image: url('https://tse2.mm.bing.net/th/id/OIP.9wV58umLk9srbmIj3ewMywHaC9?pid=Api&P=0&h=180'); /* You can change the image */
  background-size:contain;
  background-position: center;
  height: 400px;
  position: relative;
  color: white;
  font-family: Arial, sans-serif;
}